<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Footer</title>
</head>
<body>
    <footer th:fragment="footer" class="bg-light text-dark text-center py-3 mt-5 border-top">
        <div class="container">
            <small>
                <strong>Admin Panel</strong> - Huỳnh Ngọc Thắng - 23110327
            </small>
        </div>
    </footer>
</body>
</html>
